extends layout
     
block content
    section
        form(id='q' action='/actualizar', method='post')
            input(type='hidden', name='id', value=crud2.id)
            label Nombre:
            input(name='nombre', value=crud2.nombre)
            label Apellido:
            input(name='apellido', value=crud2.apellido)
            label Cedula:
            input(name='cedula', value=crud2.cedula)
            label Carrera:
            input(name='carrera', value=crud2.carrera)
            label Fecha:
            input(name='fecha', value=crud2.fecha)
            input(type='submit', value='Actualizar') 
                